@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700&family=Lexend+Deca&family=Poppins:wght@500;800&display=swap");
body {
  background-image: url("./bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-color: rgb(255, 121, 120);
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
}
main {
  display: flex;
  margin: 200px;
  width: 100%;
  justify-content: center;
}
main div {
  padding: 0.2em;
}
.learning-div {
  font-size: 22px;
  margin: -20px 0px 150px 0px;
  padding: 1.5em;
  width: 80%;
}
.intro-div {
  color: rgb(238, 234, 234);
  font-size: small;
}
.p-div {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0 12px 6px -6px rgba(212,113,108,255);
  text-align: center;
  color: rgb(238, 234, 234);
  font-size: small;
  font-weight: 100;
  width: 95.5%;
  padding: 20px;
  margin-top: -80px;
  height: 10px;
}
.form-class {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 12px 6px -6px rgba(212,113,108,255);
  margin: -10px 10px 200px 0px;
  width: 100%;
  height: 60%;
  padding: 40px 10px 20px 10px;
}
input {
  border: 2px solid rgb(234, 237, 240);
  border-radius: 6px;
  width: 95%;
  height: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  color: aliceblue;
  margin: 10px 0px 0px 0px;
}
@media (max-width: 375px) {
  body {
    background-image: url(./bg-intro-mobile.png);
    font-size: 5px;
  }
  main {
    display: block;
    margin: 50px 10px 0px 50px;
    width: 25%;
    padding: 0.1em;
    justify-content: center;
  }
  .learning-div {
    font-size: 15px;
    margin: 10px -10px 150px -10px;
    padding: 0.1em;
    width: 350%;
  }
  .intro-div {
    font-size: 15px;
    font-weight: 100;
    margin: -10px -10px 10px -5px;
    padding: 0.2em;
    width: 85%;
    justify-content: center;
    align-content: center;
  }
  .p-div {
    background-color: hsl(248, 32%, 49%);
    border-bottom: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
    color: rgb(238, 234, 234);
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    width: 280%;
    padding: 20px;
    margin: -90px 20px 10px -30px;
    height: 50px;
  }

  .form-class {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 55px 10px 20px -30px;
    width: 300%;
    height: 85%;
    padding: 20px 10px 20px 10px;
    box-shadow: 0 8px 6px -6px black;
  }

  input {
    border: 2px solid rgb(234, 237, 240);
    border-radius: 6px;
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    padding: 12px;
  }

  button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    color: aliceblue;
    margin: 10px 0px 0px 0px;
  }
}
